[Bb]in/
[Dd]ebug/
[Oo]bj/
.[Ii]dea/
.[Vv]s/
[Pp]roperties/
[Rr]esources/
[Ff]iles/
*.bat
*.user
*.png
*.bin
*.jpg
*.exe
*.mp4
*.jpeg
*.JPEG
*.txt
*.pyc
*.pth
*.dll
*.pdb
*.snk
*.appxmanifest
*.editorconfig
*.env
*.log
*.xml